# {{ ansible_managed }}
# DO NOT MAKE LOCAL MODIFICATIONS TO THIS FILE AS THEY WILL BE LOST

echo -e "************************************************************"
echo -e "\e[1;31m Welcome to UXRL {{ env }} environment - {{ role }} node \e[0m "
echo -e "************************************************************"

export PS1="\[\e[0;33m\]\u\[\e[0m\]@\[\e[1m\]\H({{ role }})\[\e[0m\]:\[\e[00;34m\][\W]\[\e[0m\]: "
